/* Theme styling */

body {
    width: 60%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;   
    font-size: 1.5rem; 
}

/* Element styling */

h1 {
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
}

label {
    text-align: left;
}

form {
    width: 550px;
    margin: auto;
}

/* Layout styling */

.main-content {
    margin-top: 20px;
}
/* 
.secondary-content {
    width: 40%;
    margin: 10px;
    padding: 10px;
} */

.inputBox {
    width: 125px;
    height: 25px;
    font-size: 1.5rem;
    float: right;
}

.calculate {
    width: 125px;
    height: 50px;
    border-radius: 15px;
    font-size: 1.25rem;
}


