/* Variables */

:root {
	--headerFont: "Ubuntu", sans-serif;
	--mainFont: "Oxygen", sans-serif;
}

/* Fonts */
/* 
font-family: 'Oxygen', sans-serif;
font-family: 'Ubuntu', sans-serif; */

/* Theme styling */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-size: 1.5rem;
	background-color: #ffffff;
}

/* Element styling */

h1 {
	font-size: 3rem;
	font-weight: 300;
	text-align: center;
	padding: 0;
	margin: 0;
}

label {
	text-align: left;
}

footer {
	text-align: center;
	font-size: 0.8rem;
	background-color: #15968b;
	height: 50px;
	color: white;
}

form {
	margin-bottom: 1.5rem;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

	justify-content: space-around;
	align-items: center;
	font-family: var(--mainFont);
}

/* Layout styling */

.main-header {
	height: 25vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: var(--headerFont);
}

.main-header p {
	font-size: 1.5rem;
}

.main-content {
	color: #222222;
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 3rem;
}

.inputBox {
	width: 200px;
	height: 40px;
	font-size: 1rem;
	float: right;
	border: 1px solid #555555;
	padding: 5px;
	border-radius: 20px;
	outline: none;
	caret-color: transparent;
}

.inputBox:focus {
	border: 2px solid black;
}

.calculate {
	width: 125px;
	height: 40px;
	border-radius: 20px;
	font-size: 1.25rem;
	font-family: "Ubuntu", sans-serif;
	background-color: white;
}

.calculate:hover {
	color: white;
	background-color: #222222;
	cursor: pointer;
}

::placeholder {
	font-size: 1rem;
	text-align: left;
	font-family: var(--mainFont);
	padding-left: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
